<nav class="nav">
  <div class="container">
    <div class="nav-left">
    <a class="nav-item is-brand title is-3" href="#">
      Bookmarklet
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item is-tab is-active" href="#">
      Home
    </a>
    <a class="nav-item is-tab" href="#">
      Documentation
    </a>
    <a class="nav-item is-tab" href="#">
      Blog
    </a>

    <span class="nav-item">
      <a class="button" >
        <span>Tweet</span>
      </a>
      <a class="button is-primary" href="{% url 'bookmarks:register' %}">
        <span>Sign Up</span>
      </a>
    </span>
  </div>
  </div>
</nav>