<nav class="nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-brand title is-3" href="{% url 'bookmarks:index' %}">
                Bookmarklet
            </a>
        </div>

        <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

        <div class="nav-right nav-menu">
            <a class="nav-item is-tab" href="{% url 'bookmarks:index' %}">
                Home
            </a>
            <a class="nav-item is-tab" href="{% url 'bookmarks:add_category' %}">
                Add Category
            </a>

            <span class="nav-item">
      {% if user.is_authenticated %}

          <a class="button" href="{% url 'bookmarks:logout' %}">
        <span>Logout</span>
      </a>

      {% else %}
          <a class="button" href="{% url 'bookmarks:login' %}">
        <span>Login</span>
      </a>
          <a class="button is-primary" href="{% url 'bookmarks:register' %}">
        <span>Sign Up</span>
      </a>
      {% endif %}
    </span>
        </div>
    </div>
</nav>