{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column">
                {% if category %}
                    <nav class="panel">
                        <p class="panel-heading">
                            {{ category.name }}
                        </p>

                        {% if pages %}
                            {% for page in pages %}
                                <a class="panel-block" href="{{ page.url }}" target="_blank">
                                    {{ page.title }}
                                </a>
                            {% endfor %}
                        {% endif %}

                        <a class="button is-info panel-block" href="/bookmarks/category/{{ category.slug }}/add-page/">Add Page</a>

                        {% else %}
                        <p class="panel-block">No category found.</p>
                    </nav>
                {% endif %}
            </div>
            <div class="column">
                Second column
            </div>

        </div>
    </div>

{% endblock %}