{% extends 'base.html' %}
{% load bookmarks_template_tags %}

{% block content %}

    <div class="container">
        <div class="columns">

            <div class="column">
                {% get_all_categories category %}
            </div>

            <div class="column">
                {% if category %}
                    <nav class="panel">
                        <p class="panel-heading">
                            {{ category.name }}
                            <button class="button is-small" id="likes" data-catid="{{ category.id }}">Like</button>
                            <span class="tag is-info is-small" id="likes-count">{{ category.likes }} likes</span>
                            <span class="tag is-info is-small">{{ category.views }} views</span>

                        </p>

                        {% if pages %}
                            {% for page in pages %}
                                <a class="panel-block" href="{% url 'bookmarks:goto' %}?page_id={{ page.id }}"
                                   target="_blank">
                                    {{ page.title }}
                                    {% if page.views > 1 %}
                                        <span class="tag is-info is-small">{{ page.views }} views</span>
                                    {% elif page.views == 1 %}
                                        <span class="tag is-info is-small">{{ page.views }} view</span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        {% endif %}

                        {% if user.is_authenticated %}
                            <a class="button is-info panel-block"
                               href="{% url 'bookmarks:show_category' category.slug %}add-page/">Add Page</a>
                        {% endif %}

                        {% else %}
                        <p class="panel-block">No category found.</p>
                    </nav>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}