{% if categories %}
    <nav class="panel">
        <p class="panel-heading">
            All Categories
        </p>
        {% for category in categories %}
            {% if category == act_cat %}
                <a class="panel-block" href="{% url 'bookmarks:show_category' category.slug %}">
                    <strong>{{ category.name }}</strong></a>
            {% else %}
                <a class="panel-block" href="{% url 'bookmarks:show_category' category.slug %}">
                    {{ category.name }}
                </a>
            {% endif %}
        {% endfor %}

        {% else %}
        <p class="panel-block">No category found.</p>
    </nav>

{% endif %}
