{% extends 'base.html' %}
{% load bookmarks_template_tags %}

{% block content %}

    <div class="container">

        <div class="columns">
            <div class="column">
                {% get_all_categories category %}
            </div>
            <div class="column">
                {% if categories %}
                    <nav class="panel">
                        <p class="panel-heading">
                            Most Liked Categories
                        </p>
                        {% for category in categories %}
                            <a class="panel-block" href="{% url 'bookmarks:show_category' category.slug %}">
                                {{ category.name }}
                                {% if category.likes > 1 %}
                                    <span class="tag is-info is-small">{{ category.likes }} likes</span>
                                {% elif category.likes == 1 %}
                                    <span class="tag is-info is-small">{{ category.likes }} like</span>
                                {% endif %}
                            </a>
                        {% endfor %}

                        {% else %}
                        <p class="panel-block">No category found.</p>
                    </nav>

                {% endif %}
            </div>
            <div class="column">
                {% if pages %}
                    <nav class="panel">
                        <p class="panel-heading">
                            Most Viewed Pages
                        </p>
                        {% for page in pages %}
                            <a class="panel-block" href="{% url 'bookmarks:goto' %}?page_id={{ page.id }}"
                               target="_blank">
                                {{ page.title }}
                                {% if page.views > 1 %}
                                    <span class="tag is-info is-small">{{ page.views }} views</span>
                                {% elif page.views == 1 %}
                                    <span class="tag is-info is-small">{{ page.views }} view</span>
                                {% endif %}
                            </a>
                        {% endfor %}

                        {% else %}
                        <p class="panel-block">No page found.</p>
                    </nav>

                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}